Package: ${project.artifactId}
Version: ${project.version}
Architecture: all
Maintainer: info@example.com
Section: web
Priority: optional
Depends: default-jre-headless | default-jre
Description: Graylog2 ${project.artifactId} plugin.
