Package: ${project.artifactId}
Version: ${project.version}
Architecture: all
Maintainer: info@example.com
Section: web
Priority: optional
Depends: graylog2-server | graylog2-radio
Description: Graylog2 ${project.artifactId} plugin.
